{% extends 'base.html.twig' %}
{% block title %}Admin{% endblock %}

{% block body %}
  <section class="hero">
    <h1>Administration</h1>
    <p>Gestion du catalogue (pas de stock).</p>
  </section>

  <div class="card">
    <div style="padding:16px; display:flex; gap:10px; flex-wrap:wrap; justify-content:center">
      <a class="pill" href="{{ path('admin_categories') }}">Catégories</a>
      <a class="pill" href="{{ path('admin_types') }}">Types</a>
      <a class="pill" href="{{ path('admin_products') }}">Produits</a>
    </div>
  </div>
{% endblock %}

